<div class="place-info" >
    <div class="place-info-container">
        <div class="center-info-content">
            <div class="top-stand"></div>
            <div class="place-search-box">
                <div class="input-group">
                    <!--<label for="place-search-box">Search for a place or choose from above</label>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<input type="text" id="place-search-box"  />-->
                            <!--<ul>-->
                                <!--<li>place.name</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <p>We do full plan. You can book and even customize. You can choose places from above directions.</p>
                </div>
            </div>
            <div class="bottom-stand">
                <div class="go-down-button" >
                    <i class="fa fa-angle-down fa-3x" ></i>
                </div>
            </div>
        </div>
    </div>
</div>



