<div class="personal-information">
    <div class="personal-information-container">
        <ul class="plan-book-menu">
            <li class="active">Review the information carefully and submit</li>
        </ul>
        <div class="information-form" >
            <p>Full Name: Mama Shri </p>
            <p>Email : something@hotmail.com </p>
            <p>Mobile : 345345345 </p>
            <p>Address : something/ okary </p>
            <p>OrderType : Plan </p>
            <p>Approximate Duration : 3 Days</p>
            <p>Approximate Budget : 45,000/- </p>
            <p>Attractions : Attraction 1</p>
            <p style="text-align: end; color: #21a1e1; cursor: pointer" data-ng-click="submitThePlan()"> Submit</p>
        </div>
    </div>
</div>
