<div class="testimonials">
    <div class="title">Testimonials... Its always nice to hear back !</div>
    <div class="testimonials-container row">
        <div class="col-lg-6 col-md-6 col-sm-12 pics">
            <div class="main-pic">

            </div>
            <div class="other-pics">
                <div class="pic1"></div>
                <div class="pic2"></div>
                <div class="pic3"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 reviews ">
            <div class="review">
                <div class="user-review">
                    <i class="fa fa-quote-left fa-border fa-2x pull-left" ></i>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Amet, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, molestiae. lorem100
                </div>
                <div class="user-photo">
                    <i class="fa fa-user fa-4x"></i>
                </div>
            </div>
            <div class="review">
                <div class="user-review">
                    <i class="fa fa-quote-left fa-border fa-2x pull-left" ></i>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Amet, sapiente!
                </div>
                <div class="user-photo">
                    <i class="fa fa-user fa-4x"></i>
                </div>
            </div>
            <div class="review">
                <div class="user-review">
                    <i class="fa fa-quote-left fa-border fa-2x pull-left" ></i>Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Amet, sapiente!
                </div>
                <div class="user-photo">
                    <i class="fa fa-user fa-4x"></i>
                </div>
            </div>
        </div>
    </div>
</div>