<div class="about-us">
    <div class="about-us-container">
        <h2>About us</h2>
        <section class="mission">
            <h3>Mission</h3>
            <p>To provide personalized trips with flexibility at customer's budget,
                inspire the people to travel, cultivating eco-tourism.</p>
        </section>
        <section class="vision">
            <h3>Vision</h3>
            <p>To enhance travel experiences and unfolding the new dimensions in tourism.</p>
        </section>
        <section class="values">
            <h3>Values</h3>
            <p>Tourepedia is driven completely on customer satisfaction. We understand the power of trust
                which seals our bond with the customers and travel partners. Customers and travel partners are family to us and we
                welcome their every suggestion and happiness. Giving back happiness is what we do.</p>
        </section>
        <section class="team">
            <h3>Team</h3>
            <p>Tourepedia team comprises expert travellers and writers, efficient trip planers,
                hardworking creative team, online support crew and our collaborating vendors. With this family of
                creative and enthusiastic team we live by the words, " You dream, we plan and make it happen." </p>
        </section>
    </div>

</div>
<style>
    .about-us{
        background: white;
        font-family: "DINRoundWeb", Verdana, Arial, Tahoma, sans-serif;
        max-height: 100%;
        padding: 50px 0;
    }
    .about-us .about-us-container{
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .about-us h2{
        text-align: center;
        line-height: 1.2;
        color: dimgrey;
        text-transform: uppercase;
        border-bottom: 1px solid silver;
        padding: 20px 0;
        font-size: 20px;
    }

    .about-us section{
        padding: 20px 10px;
    }
    .about-us section h3{
        text-transform: uppercase;
        padding: 10px 0 5px;
        color: dimgrey;
        font-size: 16px;
    }
    .about-us section p{
        padding: 10px 0;
        font-size: 16px;
        color: #514f4f;
        line-height: 1.2;
        font-weight: 400;
    }
</style>