<div class="fix-plans" id="fix-plans">
    <div class="types-of-pre-plans">
        <div class="pre-plan family-plan">
            <div class="title"><span>family travel</span></div>
        </div>
        <div class="pre-plan group-plan">
            <div class="title"><span>group cruises</span></div>
        </div>
        <div class="pre-plan honeymoon-package">
            <div class="title"><span>honeymoon package</span></div>
        </div>
    </div>
    <div class="summery-of-plans row">
        <div class="col-lg-6 col-md-6 col-sm-6  ">
            <div class="plan">
                <div class="heading"><span>Plan</span></div>
                <div class="content">
                    <ul>
                        <li><i class="fa fa-2x fa-map-marker fa-fw"></i> &nbsp; <span>Select you destination.</span></li>
                        <li><i class="fa fa-2x fa-pencil-square fa-fw"> </i> &nbsp;<span> View or Customize your plan.</span></li>
                        <li><i class="fa fa-2x fa-money fa-fw"></i> &nbsp; <span>Select your budget.</span></li>
                        <li><i class="fa fa-2x fa-credit-card fa-fw"> </i> &nbsp;<span> Pay and get your detailed plan in guaranteed 3 hours*.</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6  book">
            <div class="plan">
                <div class="heading"><span>Plan &amp; Book</span></div>
                <div class="content">
                    <ul>
                        <li><i class="fa fa-2x fa-hand-o-up fa-fw"> </i> &nbsp; <span>Customize your trip & Get the detailed trip plan FREE.</span></li>
                        <li><i class="fa fa-2x fa-edit fa-fw"> </i> &nbsp; <span>Fill in the form and submit &amp; we will get in touch within 15 minutes.</span></li>
                        <li><i class="fa fa-2x fa-credit-card fa-fw"> </i> &nbsp;<span> Pay as per the planned trip.</span></li>
                        <li><i class="fa fa-2x fa-ticket fa-fw"> </i> &nbsp; <span>Get travel tickets in 24 hrs*.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line">&amp; then pack your bags...</div>
</div>















