<div class="place-info home" data-ng-controller="HomeViewController">
    <div class="background-image image1" ng-class="{'image1' : firstTime, 'image2' : !firstTime}">
        <img data-ng-src="./tourepedia/images/home/{{image1}}" alt="Back Image"/>
    </div>
    <div class="background-image image2">
        <img data-ng-src="./tourepedia/images/home/{{image2}}" alt="Back Image"/>
    </div>
    <div class="place-info-container">
        <div class="center-info-content home-content">
            <div class="top-stand"></div>
            <div class="value">
                <p>Promotional content as per the side tabs goes here.</p>
            </div>
            <div class="bottom-stand">
                <div class="go-down-button">
                    <i class="fa fa-angle-down fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
</div>