<div class="place-info">
    <div class="place-info-container">
        <div class="center-info-content home-content">
            <div class="top-stand"></div>
            <div class="value">
                <p>Promotional content as per the side tabs goes here.</p>
            </div>
            <div class="bottom-stand">
                <div class="go-down-button">
                    <i class="fa fa-angle-down fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>