<div class="footer">

<div class="footer-container">

	<p><i class="fa fa-copyright"></i> 2015. All right reserved.</p>
	<!-- <div class="container12 row">
		<div class="column6">
			<ul>
				<li><a href="#">Tourepedia</a></li>
				<li><a href="#">Our Plans</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
		<div class="column6">
			<ul>
				<li><a href="#">
					<i class="fa fa-facebook-square fa-2x"></i> Facebook</a>
				</li>
				<li><a href="#">
					<i class="fa fa-linkedin-square fa-2x"></i> Linkedin</a></li>
				<li><a href="#">
					<i class="fa fa-google-plus-square fa-2x"></i> Google +</a></li>
				<li><a href="#">
					<i class="fa fa-twitter-square fa-2x"></i> Twitter</a></li>
			</ul>
		</div>	
	</div> -->
</div>

<style>
	/*give body margin bottom equal to height of the footer to make
	footer visible*/

</style>