<nav class="menu-bar" data-ng-controller="LoginCtrl">
	<ul class="top-menu-items">
		<li><a href="./../">plan your tour</a></li>
		<li><a href="./../">view our plans</a></li>
		<!--<li><a href="#">contact us</a></li>-->
		<li>
			<!--<div class="search-group">-->
				<!--<input type="text" id="menu-bar-search" class="hidden" onFocusOut="HideSearchBar('menu-bar-search')">-->
				<!--<label for="menu-bar-search" onclick="ShowSearchBar('menu-bar-search')">-->
					<!--<i class="fa fa-search" ></i>-->
					<!--Search-->
				<!--</label>-->
			<!--</div>-->
		</li>
	</ul>
	<div class="logo">
		<h2><span class="big-b">T</span>ourepedi<span class="big-b">a</span></h2>
		<p>A one stop blog for all your travel needs</p>
	</div>
	<div class="bubbles">
		<ul >
			<li><a href="#">Inspiration</a></li>
			<li><a href="#">Travel Tips</a></li>
			<li><a href="#">Travel Stories</a></li>
			<li><a href="#">Adventures</a></li>
		</ul>
	</div>
</nav>


























