
.data {
    background: rgb(74, 163, 223);
    position: relative;
    padding-bottom: 50px;
    z-index: 2;
    box-shadow: 0 1px 5px black;
}

.data-wrapper {
    background: rgb(236, 240, 241);
    padding: 50px 10px;
    border-radius: 2px;
}

/*#########################################################*/
/*main menu css goes here*/

.menu-bar {
    background: rgb(74, 163, 223);
    position: relative;
    z-index: 3;
}

.menu-bar ul {
    list-style: none;
    position: relative;
}

.menu-bar ul li {
    display: inline-block
}

.menu-bar .top-menu-items {
    margin: 0 30px;
    padding-top: 10px;
}

.menu-bar .top-menu-items li:not(:last-child) {
    margin: 2px 5% 2px 0;
}

.menu-bar .top-menu-items li:last-child {
    position: absolute;
    right: 0
}

.menu-bar .top-menu-items li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: inline-block;
}

.menu-bar .top-menu-items li .search-group {
    position: relative
}

.menu-bar .top-menu-items li .search-group input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    margin: 5px 0;
    color: white;
    transition: all .3s ease-out .15s;
    width: 0;
}

.menu-bar .top-menu-items li .search-group input.hidden {
    width: 0;
}

.menu-bar .top-menu-items li .search-group input.show {
    width: 200px;
}

.menu-bar .top-menu-items li .search-group label {
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.menu-bar .logo {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.menu-bar .logo h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 30px;
    letter-spacing: .1em;
}

.menu-bar .logo h2::before {
    content: " ";
    width: 20px;
    height: 5px;
    background: white;
    position: absolute;
    top: 10px;
    left: calc(50% - 10px);
}

.menu-bar .logo h2 .big-b {
    font-size: 150%;
}

.menu-bar .logo p {
    font-variant: small-caps;
    letter-spacing: .1em;
}

.menu-bar .bubbles {
    position: relative;
    z-index: 2;
}

.menu-bar .bubbles ul {
    text-align: center;
    height: 20px;
    margin: 10px auto 0;
    max-width: 900px
}

.menu-bar .bubbles ul li {
    text-align: center;
    line-height: 40px;
    width: 24%;
    min-width: 100px;
}

.menu-bar .bubbles ul li a {
    width: 80%;
    height: 40px;
    text-decoration: none;
    color: rgb(74, 163, 223);
    display: inline-block;
    background: rgb(236, 240, 241);
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

/*#########################################################*/
/*blog's css goes here*/

.blog-wrapper {
    padding: 10px;
}

.blog-title {
    margin: 10px 0;
    color: #605F5F;
}

.blog-heading {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.blog-title p {
    text-align: right;
}

.blog-title p i {
    margin: 0 5px;
}

#content #first-quote {
    color: #656565;
    font-size: 20px;
    letter-spacing: .05em;
}

#content .image-container {
    text-align: center;
    margin-top: 50px;
}

#content .image-container img {
    width: 100%;
}

#content .image-container .caption {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #909090;
}

#content p {
    margin: 10px 0;
    letter-spacing: .05em;
    color: #3B3B3B;
    font-family: arial, Tahoma, sans-serif;
}

/*#########################################################*/
/*sidebar css goes here*/
.side-bar {
    text-align: center;
    padding-left: 0;
}

.side-bar .follow-us-container {
    margin-bottom: 20px;
}

.side-bar .heading {
    font-weight: bold;
    background: rgb(41, 128, 185);
    max-width: 200px;
    margin: 10px auto;
    color: white;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.side-bar .follow-us-container .follow-us-links {
    margin: 20px 0;
}

.side-bar .follow-us-container .follow-us-links a {
    color: rgb(44, 62, 80);
    margin: 2px 10px;
    display: inline-block;
}

.side-bar .trending-container {
    margin-top: 50px;
}

.side-bar .trending-container .post-info {
    display: flex;
    background: white;
    padding: 10px;
    margin: 20px auto 30px;
    height: 70px;
    cursor: pointer;
    align-items: center;
}

.side-bar .trending-container .post-info .sort-image {
    width: 50px;
    flex-shrink: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.side-bar .trending-container .post-info .info {
    text-align: start;
    padding-left: 10px;
    font-weight: bold;
    flex-grow: 1;
}

.side-bar .heading::before, .side-bar .heading::after {
    content: " ";
    position: absolute;
    border: 25px solid black;
}

.side-bar .heading::before {
    left: 0;
    top: 0;
    border-color: transparent transparent transparent rgb(236, 240, 241);
}

.side-bar .heading::after {
    right: 0;
    top: 0;
    border-color: transparent rgb(236, 240, 241) transparent transparent;
}

/*#########################################################*/
/*comments css goes here*/
.comment-view {
    margin-top: 50px;
}

.comment-view .new-comment {
    position: relative;
    margin: 10px 0 50px
}

.comment-view .new-comment textarea {
    width: calc(100% - 20px);
    outline: none;
    height: 70px;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    resize: none;
}

.comment-view .new-comment .posting-options {
    position: absolute;
    right: 0;
    bottom: -20px;
}

.comment-view .new-comment .posting-options button {
    border-radius: 5px;
    background: #454545;
    color: white;
    padding: 2px 5px;
}

.comment-view .past-comments .comment {
    margin: 20px 0;
}

.comment-view .past-comments .comment .comment-container {
    background: #AEAEAE;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 15px;
}

.comment-view .past-comments .comment .comment-container .image-container {
    background: #777777;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
}

.comment-view .past-comments .comment .comment-container .comment-body {
    flex-grow: 1;
    padding-left: 10px;
    word-wrap: break-word;
}

.comment-view .past-comments .comment .comment-container .comment-body .username {
    font-weight: bold;
    font-size: 16px;
}

.comment-view .past-comments .comment .other-options {
    text-align: right;
}

.comment-view .past-comments .comment .other-options button {
    margin: 5px;
    color: #454545;
}

/*#########################################################*/
/*footer css goes here*/
body {
    margin-bottom: 100px;
}

.footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    height: 102px;
    background: rgb(44, 62, 80);
    width: 100%;
    color: white;
}

.footer-container {
    position: relative;
    padding-top: 10px;
}

.footer-container p {
    text-align: center;
    margin-bottom: 10px;
}

.footer-container .column6 ul {
    list-style: none;
}

.footer-container .column6 ul li {
    margin: 5px;
}

.footer-container .column6 ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
}


