/*universal styling*/
body {
    overflow-x: hidden;
}

.main-content-wrapper {
    box-shadow: 0 1px 5px black;
    position: relative;
    z-index: 3
}

.tp-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tp-flex-column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tp-flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tp-flex-justify-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tp-flex-grow {
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

/*styling our top menu bar*/
.menu {
    background: rgb(41, 128, 185);
    padding: 5px 0 0 0;
    color: white;
    position: relative;
    z-index: 5;
}

.menu .menu-top-items {
    position: relative;
    padding: 0 10px;
}

.menu .menu-top-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.menu .menu-locations ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.menu .menu-locations ul li ul {
    position: absolute;
    width: 150px;
}

.menu ul {
    list-style: none
}

.menu ul li {
    display: inline-block;
}

.menu .menu-top-items .side-items ul li {
    margin: 5px 10px 2px;
    font-size: 15px;
    color: #EFEFEF;
    font-family: "DINRoundWeb", Verdana, Arial, Tahoma, sans-serif;
}

.menu .menu-top-items .vertical-divider::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 80%;
    height: 1px;
    background: rgb(163, 163, 163);
    left: 10%;
}

.menu .menu-top-items .vertical-divider::after {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 4px;
    background: #ffffff;
    left: calc(50% - 20px);
}

.menu .menu-logo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.menu .menu-logo h1 {
    font-weight: 100;
    font-size: 38px;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    cursor: pointer;
}

.menu .menu-logo h1 span {
    font-size: 120%;
}

.menu .menu-logo p {
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.menu .menu-locations ul li {
    font-size: 18px;
    position: relative
}

.menu .menu-locations ul li button {
    padding: 5px;
}

.menu .menu-locations ul li ul {
    position: absolute;
    width: 150px;
    display: none;
    background: rgba(0, 0, 0, .6);
}

.menu .menu-locations ul li ul li {
    display: block;
}

.menu .menu-locations ul li ul li:hover {
    background: rgba(0, 0, 0, .8)
}

.menu .menu-locations ul li ul li a {
    display: inline-block;
    margin: 3px 2px;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.menu .menu-locations ul li:hover ul {
    display: block;
}

@media all and (max-width: 500px) {
    .menu .menu-top-items .side-items {
        display: none;
    }

    .menu .menu-locations ul li {
        font-size: 80%;
    }

    .menu .menu-logo {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
}

/* place info css goes here*/
.place-info {
    background: cornsilk;
    position: relative;
}

.place-info .place-info-container {
    background: rgba(0, 0, 0, .5);
}

/*.place-info .place-info-container .places-side{ background: rgb(74, 163, 223); width: 100px; }*/
.place-info .center-info-content {
    padding-bottom: 60px;
    min-height: 70vh;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.place-info .center-info-content .info {
    background: rgba(0, 0, 0, .4);
    height: auto;
    padding: 5px;
    color: white;
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: flex;
    margin: 10px auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.place-info .center-info-content .info .content {
    font-size: 24px;
    box-sizing: border-box;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 300px;
    padding: 10px;
}

.place-info .center-info-content .info .image {
    width: 200px;
    height: 200px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    background: deepskyblue;
    padding: 10px 0;
}

.place-info .center-info-content .info .proceed-button {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    padding: 10px 5px;
    text-align: center;
}

.place-info .center-info-content .info .proceed-button a {
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: all .15s ease-in-out 0s;
}

.place-info .center-info-content .info .proceed-button a:hover {
    background: white;
    color: black;
}

.place-info .place-info-container .center-info-content .place-search-box {
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
    background: rgba(0, 0, 0, .4);
    height: auto;
    margin: 10px auto;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group {
    position: relative;
    margin: 5px 20px 5px 10px;
    z-index: 3;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group p {
    display: block;
    font-size: 24px;
    font-family: 'Droid Serif', serif;
    color: white;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group label {
    display: block;
    font-size: 24px;
    font-family: 'Droid Serif', serif;
    color: silver;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group input {
    background: none;
    outline: none;
    box-shadow: none;
    color: white;
    height: 25px;
    font-size: 24px;
    line-height: 25px;
    margin: 20px 0 0;
    border: none;
    border-bottom: 2px solid #ffffff;
    width: 100%;
    font-weight: 100;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group ul {
    list-style: none;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group ul li {
    position: relative;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group ul li ul {
    position: absolute;
    background: white;
    color: gray;
    max-height: 200px;
    overflow: auto;
    width: 100%;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group ul li ul li {
    padding: 10px 5px;
    cursor: pointer;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group ul li ul li:not(:last-child) {
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
}

.place-info .place-info-container .center-info-content .place-search-box .input-group ul li ul li:hover {
    color: dimgray;
}

.place-info .center-info-content .top-stand, .place-info .center-info-content .bottom-stand {
    position: relative;
    width: 1px;
    height: 50px;
    background: whitesmoke;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.place-info .center-info-content .top-stand::after {
    content: " ";
    width: 40px;
    height: 5px;
    background: white;
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
}

.place-info .center-info-content .bottom-stand::before {
    content: " ";
    width: 40px;
    height: 5px;
    background: white;
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
}

.place-info .go-down-button {
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 3px black;
    position: absolute;
    bottom: -100%;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
}

.place-info .go-down-button i {
    animation-name: up-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes up-down {
    0% {
        opacity: .5;
        transform: translate(0, -5px)
    }
    100% {
        opacity: 1;
        transform: translate(0, 5px)
    }
}

/* plan a trip css*/
.planning-procedure-container {
    background: white;
}

.planning-procedure-container .trip-plan-progress-bar {
    padding-top: 20px;
}

.planning-procedure-container .trip-plan-progress-bar ul {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.planning-procedure-container .trip-plan-progress-bar ul li {
    border-radius: 25px;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 18px;
    color: #21a1e1;
}

.planning-procedure-container .trip-plan-progress-bar ul li.done {
    color: #eeeeee;
    border: 2px solid silver;
    background: silver;
}

.planning-procedure-container .trip-plan-progress-bar ul li.current {
    color: white;
    background: #21a1e1;
}

.planning-procedure-container .selected-place-info {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

.planning-procedure-container .selected-place-info .top-info-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.planning-procedure-container .selected-place-info .top-info-bar .duration {
    border: 2px solid gray;
    padding: 10px 15px;
}

.planning-procedure-container .selected-place-info .top-info-bar .place-info {
    background: #ffffff;
    padding: 5px 10px;
    text-align: center;
}

.planning-procedure-container .selected-place-info .top-info-bar .place-info h2 {
    background: rgb(74, 163, 223);
    padding: 20px 10px;
    color: #ffffff;
    font-weight: 100;

}

.planning-procedure-container .selected-place-info .top-info-bar .place-info p {
    background: rgb(149, 165, 166);
    padding: 20px 10px;
    color: #ffffff;
}

.planning-procedure-container .selected-place-info .top-info-bar .budget {
    border: 2px solid gray;
    padding: 10px 15px;
}

/*
* css for add attraction goes here
*/
.add-attractions {
    background: #ffffff;
    padding-bottom: 20px;
}

.add-attractions .add-attractions-container {
    max-width: 900px;
    margin: 0 auto;
}

.add-attractions .add-attractions-container .attractions {
    display: flex;;
    display: -webkit-flex;;
    display: -ms-flexbox;;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0;
}

.add-attractions .add-attractions-container .attractions .attraction {
    width: 200px;
    height: 200px;
    border-radius: 2px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

.add-attractions .add-attractions-container .attractions .attraction .title {
    background: rgb(52, 73, 94);
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
}

.add-attractions .add-attractions-container .attractions .attraction .image {
    width: 100%;
    height: 170px;
    line-height: 170px;
    text-align: center;
}

.add-attractions .add-attractions-container .attractions .attraction .attraction-info {
    position: absolute;
    bottom: -75px;
    height: 125px;
    width: 100%;
    background: rgba(44, 62, 80, 0.5);
    box-sizing: border-box;
    padding: 10px;
    color: #ffffff;
    transition: all .3s ease-in-out 0s;
}

.add-attractions .add-attractions-container .selected-attractions .attraction .attraction-info {
    bottom: 0;
    background: rgba(44, 62, 80, 0.9);
}

.add-attractions .add-attractions-container .attractions .attraction:hover .attraction-info {
    bottom: 0;
    background: rgba(44, 62, 80, 0.9);
}

.add-attractions .add-attractions-container .attractions .head {
    padding: 20px 0;
    border-top: 1px solid silver;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
}

.add-attractions .add-attractions-container .attractions .head p {
    font-weight: 600;
    font-size: 24px;
    color: grey;
}

.add-attractions .add-attractions-container .selected-attractions .head span {
    display: inline-block;
    padding: 50px 10px;
    color: dimgray;
}

.add-attractions .add-attractions-container .selected-attractions .attraction {
    position: relative;
    cursor: auto;
}

.add-attractions .add-attractions-container .selected-attractions .attraction .remove-attraction {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: all .15s ease-in-out 0s;
}

.add-attractions .add-attractions-container .attractions .attraction .add-attraction {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    background: black;
    color: white;
    opacity: 0;
    cursor: pointer;
    transition: all .3s ease-in-out 0s;
}

.add-attractions .add-attractions-container .attractions .attraction:hover .add-attraction {
    opacity: 1;
}

.add-attractions .add-attractions-container .selected-attractions .attraction:hover .remove-attraction {
    opacity: 1;
}

.add-attractions .add-attractions-container .selected-attractions .attraction .remove-attraction:hover {
    background: rgba(0, 0, 0, .5);
}

.add-attractions .add-attractions-container .selected-attractions .attraction .remove-attraction span {
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out 0s;
}

.add-attractions .add-attractions-container .selected-attractions .attraction .remove-attraction span:hover {
    color: rgb(231, 76, 60);
    border-color: rgb(231, 76, 60);
}

.add-attractions .add-attractions-container .proceed-or-know {
    background: silver;
    padding: 20px 10px;
    text-align: center;
}

.add-attractions .add-attractions-container .proceed-or-know p {
    padding: 20px 10px;
}

.add-attractions .add-attractions-container .proceed-or-know a {
    border: 1px solid #21a1e1;
    padding: 10px 20px;
    color: #21a1e1;
    background: white;
}

.add-attractions .add-attractions-container .other-options {
    margin: 20px 10px;
    text-align: center;
}

.add-attractions .add-attractions-container .other-options p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: silver;
    margin: 0 auto;
}

.add-attractions .add-attractions-container .other-options h2 {
    font-family: 'Dancing Script', cursive;
    padding: 10px 5px;
}

.add-attractions .add-attractions-container .other-options .existing-plans {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
}

.add-attractions .add-attractions-container .other-options .existing-plans .existing-plan {
    width: 200px;
    height: 250px;
    background: orangered;
    margin: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .4);
    transition: all .15s ease-in-out 0s;
    border-radius: 2px;
}
.add-attractions .add-attractions-container .other-options .existing-plans .existing-plan:hover{
    box-shadow: 0 0 4px 1px rgba(0,0,0,.6);

}

.add-attractions .add-attractions-container .other-options .existing-plans .existing-plan .days {
    height: 20px;
}

.add-attractions .add-attractions-container .other-options .existing-plans .existing-plan .plan-info {
    height: 200px;
}

.add-attractions .add-attractions-container .other-options .existing-plans .existing-plan .budget {
    height: 30px width : 100 %;
}

/* personal information css goes here */
.personal-information {
    background: #ffffff;
    width: 100%;
    padding-bottom: 50px;
}

.personal-information .personal-information-container {
    max-width: 900px;
    margin: 0 auto;
}

.personal-information .personal-information-container .plan-book-menu {
    position: relative;
    list-style: none;
    width: 90%;
    margin: 0 auto -1px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    z-index: 2;
}

.personal-information .personal-information-container .plan-book-menu li {
    cursor: pointer;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px 0;
    text-align: center;
    color: grey;
    font-weight: bold
}

.personal-information .personal-information-container .plan-book-menu li.active {
    color: black;
    background: white;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .2)
}

.personal-information .personal-information-container .information-form {
    position: relative;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
    z-index: 1;
}

.personal-information .personal-information-container .input-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.personal-information .personal-information-container .input-group label {
    display: block;
    width: 150px;
    flex-shrink: 0;
    padding-bottom: 20px;
    color: rgb(74, 163, 223)
}

.personal-information .personal-information-container .input-group .inputs {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 250px;
}

.personal-information .personal-information-container .input-group .inputs input {
    display: block;
    width: 95%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid rgb(74, 163, 223);
    color: #21a1e1;
    font-weight: 600;
    background: none
}

.personal-information .personal-information-container .input-group .inputs input#netAmount1 {
    display: inline-block;
    width: auto;
}

.personal-information .personal-information-container .input-group .inputs input#netAmount1 + span {
    text-decoration: underline;
    color: #00B3CA;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.personal-information .personal-information-container .button-group {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    padding: 20px 0;
}

.personal-information .personal-information-container .button-group button {
    display: block;
    background: white;
    padding: 5px 10px;
    border-radius: 25px;
    color: gray;
    border: 2px solid gray;
}

.personal-information .personal-information-container .button-group button.valid-form {
    color: #21a1e1;
    border: 2px solid #21a1e1;
}

.personal-information .personal-information-container .button-group button.valid-form:hover {
    background: #21a1e1;
    color: #ffffff;
}

.personal-information .personal-information-container .some-info {
    color: dimgrey;
    margin-top: 20px;
    letter-spacing: .05em;
}

/*fix-plan css goes here*/
.fix-plans {
    width: 100%;
    background: antiquewhite;
    padding: 0 0 50px 0;
}

.fix-plans .types-of-pre-plans .pre-plan.family-plan {
    background: rgb(230, 126, 34);
}

.fix-plans .types-of-pre-plans .pre-plan.group-plan {
    background: rgb(155, 89, 182);
}

.fix-plans .types-of-pre-plans .pre-plan.honeymoon-package {
    background: rgb(22, 160, 133);
    text-align: center;
}

.fix-plans .types-of-pre-plans .pre-plan .title {
    transition: all .15s ease-in-out .05s;
}

.fix-plans .types-of-pre-plans .pre-plan {
    height: 250px;
    overflow: hidden;
}

.fix-plans .types-of-pre-plans .pre-plan .title span {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: "DINRoundWeb", Verdana, Arial, Tahoma, sans-serif;
}

.fix-plans .types-of-pre-plans .pre-plan {
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1;
    height: 250px;
    overflow: hidden;
}

.fix-plans .types-of-pre-plans {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.fix-plans .types-of-pre-plans .pre-plan .title {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.fix-plans .types-of-pre-plans .pre-plan .title:hover {
    background: rgba(0, 0, 0, .3);
}

.fix-plans .summery-of-plans {
    padding: 20px 0;
    margin: 0 auto;
}

.fix-plans .summery-of-plans .plan {
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fix-plans .summery-of-plans .plan .heading {
    background: rgb(231, 76, 60);
    text-align: center;
    padding: 10px;
}

.fix-plans .summery-of-plans .plan .heading span {
    font-size: 30px;
}

.fix-plans .summery-of-plans .plan .content {
    background: white;
    padding: 20px 10px;
}

.fix-plans .summery-of-plans .plan .content ul {
    list-style: none;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fix-plans .summery-of-plans .plan .content ul li {
    margin: 10px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fix-plans .summery-of-plans .plan .content ul li i {
    display: block;
    width: 70px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;

}

.fix-plans .summery-of-plans .plan .content ul li span {
    display: block;
    font-size: 24px;
    font-style: italic;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex-grow: 1;
}

.fix-plans .bottom-line {
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding: 10px;
    font-size: 24px;
    font-style: italic;
}

@media all and (max-width: 1000px) {
    .fix-plans .types-of-pre-plans .pre-plan .title span {
        font-size: 18px;
        letter-spacing: 5px;
    }

}

@media all and (max-width: 500px) {
    .fix-plans .types-of-pre-plans {
        flex-direction: column;
    }
}

/*testimonials css goes here*/
.testimonials {
    padding: 50px 20px;
    background: lightgray;
    min-height: 100vh;
}

.testimonials .title {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 30px 0;
}

.testimonials .testimonials-container {
    margin: 0 auto;
}

.testimonials .testimonials-container .pics {
    max-width: 500px;
}

.testimonials .testimonials-container .pics .main-pic {
    background: rgb(231, 76, 60);
    height: 300px;
}

.testimonials .testimonials-container .pics .other-pics {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}

.testimonials .testimonials-container .pics .other-pics [class^="pic"] {
    height: 200px;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.testimonials .testimonials-container .pics .other-pics .pic1 {
    background: rgb(52, 73, 94)
}

.testimonials .testimonials-container .pics .other-pics .pic2 {
    background: rgb(142, 68, 173)
}

.testimonials .testimonials-container .pics .other-pics .pic3 {
    background: rgb(241, 196, 15)
}

.testimonials .testimonials-container .reviews .review:first-child {
    border-top: 2px solid #21a1e1;
}

.testimonials .testimonials-container .reviews .review {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #21a1e1;
    padding: 10px;
}

.testimonials .testimonials-container .reviews .user-review {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.testimonials .testimonials-container .reviews .user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    text-align: center;
    line-height: 100px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
}

/*footer css goes here*/
body {
    padding-bottom: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 202px;
    width: 100%;
    z-index: 0;
    background: rgb(52, 73, 94);
}

footer .footer-container {
    color: whitesmoke;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

footer ul {
    list-style-type: none;
}

footer h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0 10px;
}

footer ul li {
    font-size: 18px;
    margin: 10px 0;
}

footer .footer-container div:not(:last-child) ul li::before {
    content: "- "
}

footer ul li a {
    color: whitesmoke;
    display: inline-block;
    font-size: inherit;
}

/*
* notification css goes here
*/
#notification {
    position: fixed;
    right: 100%;
    top: 20px;
    background: rgb(52, 73, 94);
    z-index: 20;
    padding: 10px 10px 10px 15px;
    box-shadow: -1px 1px 5px black;
    border-radius: 25px 0 0 25px;
    color: white;
    font-weight: 100;
    letter-spacing: .05em;
}

@-webkit-keyframes notification-animation {
    0% {
        right: -100%;
    }
    20% {
        right: 0;
    }
    80% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@-moz-keyframes notification-animation {
    0% {
        right: -100%;
    }
    20% {
        right: 0;
    }
    80% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@-ms-keyframes notification-animation {
    0% {
        right: -100%;
    }
    20% {
        right: 0;
    }
    80% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@keyframes notification-animation {
    0% {
        right: -100%;
    }
    20% {
        right: 0;
    }
    80% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

.play-animation {
    -webkit-animation-name: notification-animation;
    -moz-animation-name: notification-animation;
    animation-name: notification-animation;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;

}




























