<footer>
<div class="footer-container">
    <div class="information">
        <h2>information</h2>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Privacy Policies</a></li>
            <li><a href="#">Terms and Conditions</a></li>
        </ul>
    </div>
    <div class="customer-service">
        <h2>customer service</h2>
        <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Information Services</a></li>
        </ul>
    </div>
    <div class="extras">
        <h2>extras</h2>
        <ul>
            <li><a href="#">Brands</a></li>
            <li><a href="#">Gift Vouchers</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Specials</a></li>
        </ul>
    </div>
    <div class="my-account">
        <h2>my account</h2>
        <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Newsletter</a></li>
        </ul>
    </div>
    <div class="follow-us">
        <h2>follow us</h2>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">YouTube</a></li>
        </ul>
    </div>
    <div class="contact-us">
        <h2>contact us</h2>
        <ul>
            <li>+91-96646-22345</li>
            <li>1800-2525-1243</li>
            <li>1800-5589-6622</li>
        </ul>
    </div>
</div>
</footer>