<nav class="menu" id="menu">
    <div class="menu-top-items">
        <div class="side-items left-side">
            <ul>
                <li><button onclick="LaunchDialog('login-dialog')">Sign In</button></li>
                <li><button onclick="LaunchDialog('signUp-dialog')">Register</button></li>
                <!--<li><a href="#">Plan Trip</a></li>-->
                <li><a href="./blog">Blog</a></li>
            </ul>     
        </div>
        <div class="vertical-divider"></div>
        <div class="side-items right-side">
            <ul>
                <li><a ui-sref="aboutUs">About Us</a></li>
                <li><a ui-sref="samplePlan">Sample Plan</a></li>
                <!--<li><button ><i class="fa fa-shopping-cart"></i></button></li>-->
                <!--<li><button ><i class="fa fa-search"></i></button></li>-->
            </ul>
        </div>
    </div>
    <div class="menu-logo">
        <h1 ui-sref="home"><span>t</span>ourepedi<span>a</span></h1>
        <p>you decide. we plan. we make it happen</p>
    </div>
    <div class="menu-locations" data-ng-controller="MenuLocationPlacesController">
        <ul>
            <li>
                <button>North India</button>
                <ul>
                    <li data-ng-repeat="place in places | filter:{'direction':'North India'}">
                        <a ui-sref="selectDestination"
                           data-ng-click="updatePlaceInfo(place)">{{place.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <button>North East India</button>
                <ul>
                    <li data-ng-repeat="place in places | filter:{'direction':'North East India'}">
                        <a ui-sref="selectDestination"
                           data-ng-click="updatePlaceInfo(place)">{{place.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <button>South West India</button>
                <ul>
                    <li data-ng-repeat="place in places | filter:{'direction':'South West India'}">
                        <a ui-sref="selectDestination"
                           data-ng-click="updatePlaceInfo(place)">{{place.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <button>West India</button>
                <ul>
                    <li data-ng-repeat="place in places | filter:{'direction':'West India'}:true" >
                        <a ui-sref="selectDestination"
                           data-ng-click="updatePlaceInfo(place)">{{place.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>