<div class="dialog-box lg" id="signUp-dialog" data-ng-controller="SignUpController">
    <div class="dialog-box-container">
        <div class="fake-box-body">
            <div class="fake-close-button"></div>
        </div>
        <div class="dialog-box-body">
            <!-- place your code here -->
            <!-- //////////////////////////////////////////////////// -->

            <div class="signUp-container">
                <form name="signUpForm">
                    <div class="input-group ">
                        <label  for="firstName">First Name*</label>
                        <input type="text" name="firstName" id="firstName"
                               ng-model="newUser.firstName"
                               ng-class="{'required-error': signUpForm.firstName.$dirty && signUpForm.firstName.$error.required}"
                               required
                                >
                    </div>
                    <div class="input-group ">
                        <label  for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="lastName"
                               ng-model="newUser.lastName"
                                >
                    </div>
                    <div class="input-group ">
                        <label  for="email1">Email*</label>
                        <input type="email" name="email" id="email1"
                               ng-model="newUser.email"
                               ng-class="{
                               'required-error':
                               signUpForm.email.$dirty && (signUpForm.email.$error.required || signUpForm.email.$invalid)}"
                               required
                                >
                        <div ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid" class="error-container">
                            <span>Enter a valid email address</span>
                        </div>
                    </div>
                    <div class="input-group ">
                        <label  for="password1">Password*</label>
                        <input type="password" name="password" id="password1"
                               ng-model="newUser.password"
                               ng-class="{
                               'required-error':
                               signUpForm.password.$dirty && signUpForm.password.$error.required }"
                               ng-minlength="6"
                               required
                                >
                         <div ng-show="signUpForm.password.$error.minlength " class="error-container">
                             <span>Password length must be at least 6 character</span>
                         </div>
                    </div>
                    <div class="input-group ">
                        <label for="rePassword">Retype Password*</label>
                        <input type="password" name="rePassword" id="rePassword"
                               ng-model="newUser.rePassword"
                               ng-class="{'required-error': signUpForm.rePassword.$dirty && signUpForm.rePassword.$error.required}"
                               required
                                >
                        <div class="error-container"
                             ng-show="(signUpForm.password.$dirty && signUpForm.password.$valid &&  signUpForm.rePassword.$dirty && signUpForm.rePassword.$valid ) && (newUser.password != newUser.rePassword)">
                            <span>
                                Password don't match
                            </span>
                        </div>


                    </div>

                    <div class="input-group">
                        <input type="button" id="signUp-submit" value="Submit"
                               ng-class="{'ok': signUpForm.$valid && everyThingAlright(newUser)}"
                                >
                    </div>
                </form>
            </div>

            <!-- and before it -->
            <!-- ////////////////////////////////////////////////////// -->
            <div class="dialog-close-button" onClick="CloseDialog('signUp-dialog')">X</div>
        </div>
    </div>
</div>






